# Operating System files
.DS_Store
Thumbs.db

# Python Environment
.env
env/
venv/
ENV/
*.env
*.venv
*.virtualenv
Pipfile
Pipfile.lock
poetry.lock
__pycache__/
*.py[cod]
*$py.class

# Logs and Outputs
*.log
logs/
*.out
*.err
*.txt

# IDEs and Editors
.vscode/
.idea/

# Temporary Files and Cache
*.tmp
*.temp
*.swp
*.swo
*.bak
*.lock

# Visualization and Graph Outputs
*.png
*.jpg
*.jpeg
*.svg
*.eps
*.gif
*.mp4
*.mov
*.avi
*.csv

# Pytest Cache
.cache/
pytest_cache/

# Version Control
*.git/
*.gitignore
*.gitattributes